@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chamados BRA</h1>
    <p class="lead">Administração do Sistema.</p>
    <!--<p><a href=".\Chamado\Create" class="btn btn-primary btn-lg">Novo Chamado &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crie Usuários</h2>
        <p>
            Crie usuários para acessar o sistema.
        </p>
        <p><a class="btn btn-default" href="..\Account\Register">Criar Usuário</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro de Obras</h2>
        <p>Criação de Obras da Rede Jesuita.</p>
        <p><a class="btn btn-default" href="#">Cadastrar Obra</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro de Setores</h2>
        <p>Criação de Setores das obras da Rede Jesuita</p>
        <p><a class="btn btn-default" href="#">Clique Aqui</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Crie Perfis de Usuario</h2>
        <p>
            Crie Perfils de Usuario de acesso ao sistema.
        </p>
        <p><a class="btn btn-default" href="#">Criar Perfil</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outra Opção</h2>
        <p>Opção</p>
        <p><a class="btn btn-default" href="#">Opção</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outra Opção</h2>
        <p>Opção</p>
        <p><a class="btn btn-default" href="#">Opção</a></p>
    </div>
</div>