@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chamados BRA</h1>
    <p class="lead">Administração do Sistema.</p>
    <!--<p><a href=".\Chamado\Create" class="btn btn-primary btn-lg">Novo Chamado &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crie Usuários</h2>
        <p>
            Crie usuários para acessar o sistema.
        </p>
        <p><a class="btn btn-default" href="..\Account\Register">Criar Usuário</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outra Funcionalidade</h2>
        <p>Inserir outra funcionalidade.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Clique Aqui</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais Uma Funcionalidade</h2>
        <p>Mais outra Funcionalidade</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Clique Aqui</a></p>
    </div>
</div>