body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    border-color: #0a9ec7;
    background-color: #B7181D;
}

.btn-default {
    color: #FFFFFF;
    background-color: #B7181D;
}

.btn-lg {
    background-color: #B7181D;
    border-color: #B75A5D;
}

.btn:hover {
    background-color: #ADADAD;
    border-color: #ADADAD;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #999999;
    }

.modal-dialog {
    width: 70%;
}

.tab-pane{
  height:150px;
  overflow-y:scroll;
  width:100%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #B7181D;
    border-color: #B7181D;
}