<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-prj_chamadosBRA-20150507101503.mdf;Initial Catalog=aspnet-prj_chamadosBRA-20150507101503;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ChamadosBRAConnectionStringP" connectionString="Data Source=10.2.0.8;Initial Catalog=ChamadosBRA;Persist Security Info=True;User ID=dbchambra;Password=dbchambra" providerName="System.Data.SqlClient" />
    <add name="ChamadosBRAConnectionString" connectionString="Data Source=anderson-ultra\Sqlexpress;Initial Catalog=ChamadosBRATeste;Persist Security Info=True;User ID=dbchambra;Password=dbchambra" providerName="System.Data.SqlClient" />
    <!--<add name="ChamadosBRAConnectionStringD" connectionString="Data Source=anderson-ultra\Sqlexpress;Initial Catalog=ChamadosBRA;Persist Security Info=True;User ID=dbchambra;Password=dbchambra" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>